<%- include('header') -%>

<h1>Viðburða umsjón</h1>

<%- include('page') -%>

<% if(user.admin) { %>
  <%- include('new_events') -%>
<% } %>

<div class="user">
  <p class="user__loggedin">Innskráður sem: <strong><%= user.username %></strong></p>
  <p class="user__logout"><a href="/logout">Útskrá</a></p>
</div>

<%- include('footer') -%>
