<section class="events">
  <h2 class="events__title">Viðburðir á næstunni</h2>
  <p class="events__total">Fjöldi viðburda: <%= paging.total %></p>

  <% if (events.length === 0) { %>
    <p class="events__empty">Engir viðburðir.</p>
  <% } else { %>
    <ul class="events__list">
    <% for (const event of events) { %>
      <li class="events__event">
        <a href="/<%= event.slug %>" class="events__eventLink"><%= event.name %></a>
        <p class="events__eventDescription"><%= event.description %></p>
        <p class="events__eventLocation"><%= event.location %></p>
        <a class="events__eventUrl" href="<%= event.url %>"><%= event.url %></a>
        <% if (user.admin) { %>
          <p><a href="/admin/<%= event.slug %>" class="events__eventEdit">Uppfæra viðburð</a>
          <form class="delete-form" method="post" action="/admin/delete/<%= event.id %>">
              <button class="button">Eyða</button>
          </form>
        <% } %>
      </li>
    <% } %>
    </ul>
  <% } %>
</section>

<div class="paging">
  <% if (paging.hasPrev) { %>
    <a class="paging__prev" href="<%= paging.prevUrl %>">Fyrri síða</a>
  <% } else { %>
    <span class="paging__prev">Fyrri síða</span>
  <% } %>

  <div class="paging__info">Síða <%= paging.page %> af <%= paging.totalPages %></div>

  <% if (paging.hasNext) { %>
    <a class="paging__next" href="<%= paging.nextUrl %>">Næsta síða</a>
  <% } else { %>
    <span class="paging__next">Næsta síða</span>
  <% } %>
</div>
