<%- include('header') -%>

<h1> <%= title %></h1>

<%- include('page') -%>

<div class="user">
  <p class="user__loggedin">Innskráður sem: <strong><%= user.username %></strong></p>
  <p class="user__logout"><a href="/logout">Útskrá</a></p>
</div>

<%- include('footer') -%>
